<div class="navbar">
    <a class="logo" href="">ExcelOn</a>
    <ul class="nav">
        <li><a href="#home"><b>Home</b></a></li>
        <li><a href="#about"><b>Go to ExcelOn</b></a></li>
    </ul>
</div>
<section class="banner-area" id="home">
</section>

<section class="about-area" id="about">
    <div class="text-part">
        <!-- <h1>
            Welcome to my ExcelOn</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid atque commodi dolor est nobis veniam! Eius rerum, unde. Accusamus corporis esse eveniet exercitationem fugiat harum pariatur sequi similique tenetur vitae. Aliquam amet est excepturi,
            exercitationem facere fugit ipsa laborum molestiae nemo officiis placeat quos repellat saepe temporibus voluptatum.</p> -->
            <app-excelon></app-excelon>
    </div>
</section>